@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Square+Peg&display=swap');



*{
    padding: 0;
    margin: 0;
}




h1{
    color: aquamarine;
   
   
    font-size: 5rem;
    text-align: center;
    padding: 30px;
     font-family: 'Manrope';
    font-family: 'Nova Square', cursive;
    margin-top: 2rem;
    font-weight: bolder;


}



#pregunta{
    border-radius: 7px;
    height: 11vw;
    padding-top: 1rem;
    width: 80vw;
    text-align: center;

  bottom: 4rem;
  font-family: 'Manrope', sans-serif;

  font-size: 50px;

  background: white;

}

h4 {
    color: white;
    font-size: 30px;

    font-family: 'Manrope', sans-serif;
    text-align: center;
  
    bottom:5px;
    
   
}



.respuestaIngresada{
    border-radius: 7px;
   
    background-color: aquamarine;

 
    font-size: 20px;

    width: 80vw;
    height: 4rem;
}

#resultado{
    color: white;
}


.respuestaIngresada:hover{
    color: grey;
    transform: scale(1.05);
    transition: all ease-in-out 1s;
}


.quiz{
  display: flex;
  justify-content: center;
  background-color:  rgb(29, 26, 26);
}

.contador{
    margin-top: 2rem;
    margin-bottom: 1rem;
}



#colorbar{
    background-color: aquamarine;
}

@media screen and (min-width:320px) and (max-width: 767px){
    #pregunta{
        font-size: 20px;
    }
}